@page "/"
@using LargeFileUpload

<h1>This is the test page for the upload control!</h1>
<p>
	To see some sort of output look in your console!
</p>

<FileUpload UploadSettings="@UploadSettings" />

@code {
	private FileUploadSettings UploadSettings {
		get;
	} = new FileUploadSettings {
			HttpMethod = "POST",
			UploadUrl = "api/uploads"
		};
}